---
import BaseLayout from '../layouts/BaseLayout.astro';
import NormasIso from '../components/NormasIso.astro';
import Normas2 from '../components/Normas2.astro';
---

<BaseLayout>

  <section>
	<NormasIso />
  </section>

  <section>
	<Normas2 />
  </section>
</BaseLayout>
